In [2]:
import sqlite3
from sqlite3 import Error

In [3]:
 def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [4]:
database = "sqlite_db_pythonsqlite.db"
# create a database connection
conn = create_connection(database)

2.6.0

In [5]:
def task10(conn):
    cur = conn.cursor()
    query = """
        SELECT * 
        From (
            SELECT 
                f.name AS facility, 
                SUM(CASE WHEN b.memid > 0 THEN b.slots*f.membercost
                     ELSE b.slots*f.guestcost END) AS total_revenue
            FROM Bookings as b
            LEFT JOIN Facilities AS f
            ON b.facid = f.facid
            GROUP BY b.facid
            ) 
        WHERE total_revenue < 1000
        ORDER BY total_revenue
        """
    cur.execute(query)
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [6]:
with conn: 
    print("Q10: Produce a list of facilities with a total revenue less than 1000.The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members! ")
    task10(conn)

Q10: Produce a list of facilities with a total revenue less than 1000.The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [7]:
def task11(conn):
    cur = conn.cursor()
    query = """
        SELECT 
            m1.firstname || ' ' || m1.surname AS name, 
            m2.firstname || ' ' || m2.surname AS recommendedby
        FROM Members AS m1
        LEFT JOIN Members AS m2
        ON m1.recommendedby = m2.memid
        ORDER BY m1.surname
        """
    cur.execute(query)
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [8]:
print('Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order')
task11(conn)

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
('Florence Bader', 'Ponder Stibbons')
('Anne Baker', 'Ponder Stibbons')
('Timothy Baker', 'Jemima Farrell')
('Tim Boothe', 'Tim Rownam')
('Gerald Butters', 'Darren Smith')
('Joan Coplin', 'Timothy Baker')
('Erica Crumpet', 'Tracy Smith')
('Nancy Dare', 'Janice Joplette')
('Jemima Farrell', None)
('David Farrell', None)
('GUEST GUEST', None)
('Matthew Genting', 'Gerald Butters')
('John Hunt', 'Millicent Purview')
('David Jones', 'Janice Joplette')
('Douglas Jones', 'David Jones')
('Janice Joplette', 'Darren Smith')
('Anna Mackenzie', 'Darren Smith')
('Charles Owen', 'Darren Smith')
('David Pinker', 'Jemima Farrell')
('Millicent Purview', 'Tracy Smith')
('Tim Rownam', None)
('Henrietta Rumney', 'Matthew Genting')
('Ramnaresh Sarwin', 'Florence Bader')
('Darren Smith', None)
('Tracy Smith', None)
('Jack Smith', 'Darren Smith')
('Darren Smith', None)
('Ponder Stibbons', 'Burton Tracy')
('Burton Tracy', None)
('Hyacinth Tupperware', None)
('Henry Worthington-Smyth', 'Tracy Smith')

In [10]:
def task12(conn):
    cur = conn.cursor()
    query = """
        SELECT f.name AS facility, SUM(b.slots) AS total_slots
        FROM Bookings as b
        LEFT JOIN Facilities AS f 
        ON b.facid = f.facid
        LEFT JOIN Members AS m
        ON b.memid = m.memid
        WHERE m.memid > 0
        GROUP BY b.facid
        ORDER BY total_slots DESC
        """
    cur.execute(query)
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [11]:
print('Q12: Find the facilities with their usage by member, but not guests')
task12(conn)

Q12: Find the facilities with their usage by member, but not guests
('Badminton Court', 1086)
('Tennis Court 1', 957)
('Massage Room 1', 884)
('Tennis Court 2', 882)
('Snooker Table', 860)
('Pool Table', 856)
('Table Tennis', 794)
('Squash Court', 418)
('Massage Room 2', 54)

In [12]:
def task13(conn):
    cur = conn.cursor()
    query = """
        SELECT
            f.name AS facility,
            strftime('%m', b.starttime) AS month,
            SUM(b.slots) AS total_slots
        FROM Bookings as b
        LEFT JOIN Facilities AS f 
        ON b.facid = f.facid
        LEFT JOIN Members AS m
        ON b.memid = m.memid
        WHERE m.memid > 0
        GROUP BY month, b.facid
        ORDER BY facility, month          
        """
    cur.execute(query)
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [13]:
print('Q13: Find the facilities usage by month, but not guests ')
task13(conn)

Q13: Find the facilities usage by month, but not guests
('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)